$primary: rgba(180, 57, 53, 0.9);
$light: rgba(213, 190, 161, 0.7);
$card-border-color: $primary;
$enable-responsive-font-sizes: true;
$enable-rounded: false;
$font-family-base: "Raleway", sans-serif;
